* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(25, 23, 25, 0.9);
    color: rgb(219, 228, 226);
    transition-property: background-color;
    transition-duration: .0s;
}

tooltip {
    background: rgba(25, 23, 25, 0.5);
    border-radius: 8px;
    border-style: none;
}

button {
    border: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: .0s;
}

#workspaces button.active {
    box-shadow: inset 0 1px rgba(255, 51, 51, 0.9);
    background: rgba(46, 46, 46, 0.8);
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#backlight:hover,
#network:hover,
#wireplumber:hover,
#workspaces button:hover,
#tray:hover {
    background: rgba(86, 86, 86, 0.8);
}

#workspaces button {
    padding: 0 0;
    margin: 1px 0;
    border-radius: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#wireplumber,
#workspaces button,
#window,
#tray {
    padding: 0 8px;
    color: rgb(219, 228, 226);
}

#workspaces {
    margin-left: 10px;
    padding-left: 0;
}

#clock {
    margin-right: 8px;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
