[Desktop Entry]
Type=Application
Name=UltiMaker Cura
Exec=/home/edvin/bin/UltiMakerCura.AppImage
Icon=/home/edvin/bin/icons/cura-icon.png
Terminal=false
